.camper-card{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #E9E9E9;
    margin: 20px 10px 0 0;
    max-width: 400px;
    min-width: 300px;
    padding:10px 5px;
    z-index: 2;
}
.camper-img{
    width: 90px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camper-img img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.camper-data{
    padding: 0px 10px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conta-skills{
    display: flex;
    flex-direction: column;
}
.camper-data .name{
    font-size: 22px;
    font-weight: 500;
    color: #2E3136;
}

.camper-data .nivelIngles{
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #2E3136;
}
.camper-data .skills{
    font-size: 15px;
    font-weight: 400;
    color: #2E3136;
}
.camper-data .view-camper{
    margin-top: 5px;
    width: 10px;
}

.skillsCamper{
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
    margin-left:5px;
}