.css-mhc70k-MuiGrid-root>.MuiGrid-item{
    padding-top: 0 !important;
    margin: 0 !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 10px 0 !important;
    color: #151d25;
}